
<div class="container">
<h1 class="text-center">Novedades</h1>
<p class="text-justify" >Esta es una guia de las nuevas funciones y estructura del aplicativo Porcisoft, 
desde el Departamento de T.I (tecnología de la información) presentamos las siguientes novedades. </p>

<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left text-wrap" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Interfaz
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
        <dl class="text-justify">
            <dt>Rediseño de Login</dt>
            <dd>Se cambio el diseño de la ventana de inicio para mejorar tu experiencia :3</dd>
            <dt>Barra lateral la pantalla de inicio</dt>
            <dd>Se cambie el diseño de la barra lateral agregando nuevas funciones</dd>
            <dt>Alertas de resolucion</dt>
            <dd>Se agrego un aviso en pantalla para dar advertencia del vencimiento de las resoluciones</dd>
            <dt>Calificación del aplicativo</dt>
            <dd>Ahora puedes calificar y dar tu opinion sobre nuestra aplicacion :3</dd>
            <dt>Accesos rápidos</dt>
            <dd>Se agregaron accesos rapidos a distintos modulos del porcisoft como:
                <ul>
                    <li>Socios de negocios</li>
                    <li>Facturacion contado</li>
                    <li>Facturacion credito</li>
                    <li>Nota credito</li>
                    <li>Cuadre de caja</li>
                </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Estabilización de Repositorios estructura 
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <dl class="text-justify">
            <dt>Reorganización en las fuentes del sistema</dt>
            </dl>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Validaciones 
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <dl class="text-justify">
            <dt>Unidad de Valor Tributario (UVT)</dt>
            <dd>Si el total de la factura POS es mayor a los UVT establecidos por la DIAN la factura pasa a ser facturación Electrónica con el código<br>
               C-22222 o el código respectivo del cliente si lo tiene pasara con factura electronica :3</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Integracion
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <dl class="text-justify">
            <dt>Integración de socio de negocios entre  puntos de venta</dt>
            <dd>Ahora al crear o actualizar los socios de negocios en un punto de venta los cambios seran reflejados en demas puntos. :3</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Nuevos módulos
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          <dl class="text-justify">
            <dt>Rediseño de Login</dt>
            <dd>Se cambio el diseño de la ventana de inicio para mejorar tu experiencia, ademas se crearon y modificaron nuevos modulo agregando nuevos procesos y funcionalidades:
              <ul >
                <li>Socios de negocios</li>
                <li>Lector de código 2D</li>
                <li>Calificaciones</li>
                <li>Manual de usuario</li>
                <li>Configuración</li>
              </ul> :3</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
 </div>


