   <!--Div de alerta de version-->
   <div class="alert alert-dark alert-dismissible fade show text-center " role="alert">
    Vesion del aplicativo en el momento <a href="#" class="alert-link">4.2.1</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  
  </div><!--Fin Div de alerta de version-->

  <!--Gran contenedor-->
  <div class=" row mt-2">

    <!--Menu Tab-->
    <div class="col-2 menu-tab" id="menu-tab">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-Intro-tab" data-toggle="pill" href="#v-pills-Intro"  role="tab" aria-controls="v-pills-Intro"aria-selected="true">Introduccion</a>
          <a class="nav-link " id="v-pills-SociosN-tab" data-toggle="pill" href="#v-pills-SociosN"   role="tab" aria-controls="v-pills-SociosN"  aria-selected="false">Socios de negocios</a>
          <a class="nav-link" id="v-pills-SolicitudC-tab" data-toggle="pill" href="#v-pills-SolicitudC" role="tab" aria-controls="v-pills-SolicitudC" aria-selected="false">Solicitudes de compra</a>
          <a class="nav-link" id="v-pills-OrdenesC-tab" data-toggle="pill" href="#v-pills-OrdenesC" role="tab" aria-controls="v-pills-OrdenesC" aria-selected="false">Ordenes de compra</a>
          <a class="nav-link" id="v-pills-EntradaM-tab" data-toggle="pill" href="#v-pills-EntradaM" role="tab" aria-controls="v-pills-EntradaM" aria-selected="false">Entrada de mercancia</a>
        </div>
    </div> <!-- Fin Menu Tab-->  

    <!--Contenedor medio-->
    <div class="col-10">

      <!-- TAB Content-->
      <div class="tab-content " id="v-pills-tabContent">

        <!--Tab de Introduccion-->
        <div class="tab-pane fade show active mx-1 px-1" id="v-pills-Intro" role="tabpanel" aria-labelledby="v-pills-Intro-tab">
          <!-- Div de Contencion-->
          <div class="row">

              <!-- Div de Informacion de Introduccion -->
              <div class="col-10">
                <h1 class="text-center">Introduccion</h1>
                <p class="text-center">El siguiente documento es una guia del aplicativo porcisoft con cada uno de sus modulos y sus funciones.</p>
                <div class="row">
                  <div class="col-6 mb-2 px-2 ">
                    <h4 class="mt-4">Inicio de sesión</h4>
                    <p class="text-justify">
                      El nuevo modulo de inicio de sesion cuenta con un diseño mas amigable e intuitivo para que la experiencia del usuario sea mucho mas fluida.
                    </p>
                <img src="../../../assets../../../assets/img/inisio.gif" width="80%" class="px-2" alt="Inicio de secion">
                  </div>
                <div class="col-6  ">
                  <h4 class="mt-4">Cambio de contraseña</h4>
                  <p class="text-justify ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, saepe voluptates ipsa consequatur maxime ad ut omnis nobis dicta! </p>
                  <img src="../../../assets/img/Cambio de contraseña.gif" width="80%" class="px-2" alt="Cambio de contraseña">
                </div>
                <div>
                </div>
                </div>
            <!--------------------------Card------------------------------------------>  
              <div class="container">
                
                  <h3 class="mt-5 mb-5 text-center" id="MenuLateral" name="MenuLateral">Menu lateral</h3>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="card">
                        <img src="../../../assets/img/deshacer.png " class="card-img-top" alt="Pagina Principal">
                        <div class="card-body">
                          <h5 class="card-title">Flecha</h5>
                          <p class="card-text">Acceso directo a la pagina principal de porcicarnes.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card">
                        <img src="../../../assets/img/navegador.png " class="card-img-top" alt="Pagina Principal">
                        <div class="card-body">
                          <h5 class="card-title">Pagina de Porcicarnes</h5>
                          <p class="card-text">Acceso directo a la pagina principal de porcicarnes.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card ">
                        <img src="../../../assets/img/nube.png" alt="facture" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title">Facture</h5>
                          <p class="card-text">Acceso directo a la pagina de facture (facturación electrónica).</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-4">
                        <div class="card">
                          <img src="../../../assets/img/cupon.png" alt="descuentos carnicos" class="card-img-top">
                          <div class="card-body">
                            <h5 class="card-title">Descuentos</h5>
                            <p class="card-text">Modulo de descuentos carnicos.</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                          <div class="card">
                            <img src="../../../assets/img/factura.png" alt="Resolucion de Facturacion" class="card-img-top" >
                            <div class="card-body">
                              <h5 class="card-title">Resolucion de Facturacion</h5>
                              <p class="card-text">Modulo de Resolucion de Facturacion.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4">
                          <div class="card">
                            <img src="../../../assets/img/pesaje-de-entrega.png" alt="Mermas" class="card-img-top" >
                            <div class="card-body">
                              <h5 class="card-title">Mermas</h5>
                              <p class="card-text">Modulo de Resolucion de Facturacion.</p>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="row">

                      <div class="col-md-4">
                          <div class="card">
                            <img src="../../../assets/img/personas.png" alt="Socios de negocios" class="card-img-top" >
                            <div class="card-body">
                              <h5 class="card-title">Socios de negocios</h5>
                              <p class="card-text">Modulo de Socios de negocios.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4">
                          <div class="card">
                            <img src="../../../assets/img/maquina-de-facturacion.png" alt="" class="card-img-top" >
                            <div class="card-body">
                              <h5 class="card-title">Facturacion Contado</h5>
                              <p class="card-text">Modulo de Facturacion contado.</p>
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card">
                          <img src="../../../assets/img/pago-con-tarjetas-de-credito.png" alt="Resolucion de Facturacion" class="card-img-top" >
                          <div class="card-body">
                            <h5 class="card-title">Facturacion Credito</h5>
                            <p class="card-text">Modulo de Facturacion Credito.</p>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-4">
                        <div class="card">
                          <img src="../../../assets/img/archivo.png" alt="Resolucion de Facturacion" class="card-img-top" >
                          <div class="card-body">
                            <h5 class="card-title">Nota Credito</h5>
                            <p class="card-text">Modulo de Nota Credito.</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card">
                          <img src="../../../assets/img/caja-de-seguridad.png" alt="Resolucion de Facturacion" class="card-img-top" >
                          <div class="card-body">
                            <h5 class="card-title">Cuadre de Caja</h5>
                            <p class="card-text">Modulo de Cuadre de Caja.</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card">
                          <img src="../../../assets/img/manual.png" alt="Resolucion de Facturacion" class="card-img-top" >
                          <div class="card-body">
                            <h5 class="card-title">Guia de Usuario</h5>
                            <p class="card-text">Acceso a la Guia de Usuario.</p>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-4">
                        <div class="card">
                          <img src="../../../assets/img/prueba.png" alt="Resolucion de Facturacion" class="card-img-top" >
                          <div class="card-body">
                            <h5 class="card-title">Test de Internet</h5>
                            <p class="card-text"></p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card">
                          <img src="../../../assets/img/ajustes.png" alt="Resolucion de Facturacion" class="card-img-top" >
                          <div class="card-body">
                            <h5 class="card-title">Ajustes</h5>
                            <p class="card-text">Modulo de Aguste del Porcisoft.</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card">
                          <img src="../../../assets/img/me-gusta.png" alt="Resolucion de Facturacion" class="card-img-top" >
                          <div class="card-body">
                            <h5 class="card-title">Calificanos</h5>
                            <p class="card-text">Modulo de calificaciones para el aplicativo porcisoft.</p>
                          </div>
                        </div>
                      </div>
                  </div>
              
                </div>  
              </div> <!--Fin Div de Informacion de Introduccion-->

              <!--Navegación componentes-->
              <div class="col-2">


                  <h6>Introduccion</h6>
                  <nav class=" nav    flex-column font-weight-light  my-1 py-0   ">
                                
                    <p><small><a href="/manualUsuario#MenuLateral" class="nav-link  active  mx-1 py-0">Menú Lateral</a></small></p>
                    
                    <p><small><a href="/manualUsuario#footer" class="nav-link  mx-1 py-0">Contactos</a></small></p>
                    

                    
                  </nav>
            </div> <!--Fin Navegación componentes-->
          </div>
               
        </div>

        <!-- Tab de Socios de Negocios -->
        <div class="tab-pane fade" id="v-pills-SociosN" role="tabpanel" aria-labelledby="v-pills-SociosN-tab">
            <div class="row">

                 <!-- Div de Informacion de Socios de Negocios -->
              <div class="col-10">
                  <h2 class="text-center" id="Socios">Socios de negocios</h2>
                  <h4 class="mt-5">Registro de Nuevos Clientes y Proveedores</h4>
                  <p class="text-justify">
                    En este módulo se haran los registros de los clientes y proveedores que visiten nuestras instaciones y puntos de venta, para ello hemos destinado una serie de herramientas
                    para ayudarte en el proceso de creacion de socios de negocios.
                  </p>

                  <div class="row mt-5">
                    <div class="col-6 text-center">
                      <img src="../../../assets/img/CargarRUT.gif" width="100%" alt="Inicio de sesion">
                    </div>
                      <div class="col-6 mt-3">
                        <h2 class="text-center mt-3">Uso de Lectores</h2>
                        <p class="text-justify">
                          Al crear un nuevo socio de negocios se podrá hace una lectura al código QR del documento de <b>RUT</b> o al <b>código de barras</b> (PDF417) posterior de la cédula, de esta manera
                          te será mas fácil registrar los datos personales del socio.
                          <br>
                          - Presiona el botón de <b>'Nuevo'</b> y se desplegará una pestaña donde podrás elegir si el socio a crear es <b>'Cliente'</b> o <b>'Proveedor'</b> 
                          <br>
                          - Posterior para hacer la lectura apunta el lector hacia el código que vayas a consultar, cuando escuches el "bip" la aplicación se encargará de hacer la lectura de los datos y listo.
                          <br><br><br>
                          Nota: La aplicación hará una consulta hacia la DIAN para verificar el estado del RUT de la persona, si deseas verificar la información solo debes navegar hasta la pestaña de <b>'DianRUT'</b>
                        </p>
                        
                      </div>

                    </div>
                    <div class="row">
                      
                    </div>


                    <!-- Diccionario de Datos-->
                    <div class="row"style="margin-top: 50px;">
                      
                      <div class="col-6 ">
                        <h3 class="text-center mt-5">Socio de Negocio:</h3>
                        <p class="text-justify mt-4">
                          <b>Código:</b> Se ingresa el número de documento del cliente precedido de C- que significa cliente (ejemplo C- 901043094 sin espacios) y se da enter, al ingresar C en la parte derecha se selecciona automáticamente el campo Cliente.
                          <br><br>
                          <b>Nit:</b> Al ingresar la información del campo código este ítem se diligencia de manera automática con el digito de verificación, el cual es calculado por el sistema.
                          <br><br>
                          <b>Nombre:</b> Este campo no se diligencia en el sistema.
                          <br><br>
                          <b>Grupo:</b> Se despliega una lista y se selecciona la información de acuerdo a los datos proporcionada por el cliente, si no aplica ninguna de las opciones relacionadas en el listado se selecciona Clientes.
                        </p>
                      </div>
                    
                        <div class="col-6 text-center">
                          <img src="../../../assets/img/SN1.png" width="80%" alt="Inicio de sesion" class="mt-5">
                      </div>
                  
                    </div>

                    <div class="row" style="margin-top: 100px;">
                      
                      <div class="col-6">
                        <h3 class="text-center mt-2" id="general">General:</h3>
                        <p class="text-justify mt-4">
                          <b>Activo:</b> Este campo esta seleccionado cuando se va a crear el tercero.
                          <br><br>
                          <b>RUT:</b> Este ítem se selecciona cuando el cliente tiene Rut, es decir: cuando se realiza la consulta en la página <a href="/manualUsuariodian.gov.co">Dirección de Impuestos y Aduanas Nacionales de Colombia (dian.gov.co)</a> y se confirma que el tercero registra inscrito y activo en la Dian.
                          <br><br>
                          <b>Fecha de Creación:</b> El sistema ingresa automáticamente la fecha en la que se está realizando el registro del cliente en el sistema.
                          <br><br>
                          <b>Tipo de Identificación:</b> dando clic en la flecha se despliega una lista y se escoge dependiendo del tipo de documento que identifique al cliente.
                          <br><br>
                          <b>Tipo de Persona:</b>
                          <br>
                          <section>
                            <b>a.</b> Cuando el cliente no tiene Rut: automáticamente este campo se diligencia seleccionando la palabra: <b>natural</b> y no permite modificaciones.
                            <br><br>
                            <b>b.</b> Cuando el cliente tiene Rut: se selecciona si es persona: <b>natural</b> o <b>jurídica</b> de acuerdo a la información que se visualiza en el Rut en el campo tipo de contribuyente (campo 24 del documento físico Rut)
                          </section>  
                          <br>
                          <b>Primer Nombre / Razón Social:</b>
                          <br><br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: la información se ingresa de acuerdo a la cédula de ciudadanía.
                            <br><br>
                            <b>b.</b> Cuando es persona natural con Rut: la información se ingresa de acuerdo al Rut y a la consulta que se realiza en la página <a href="/manualUsuariodian.gov.co">Dirección de Impuestos y Aduanas Nacionales de Colombia (dian.gov.co)</a>, del resultado de esta búsqueda se copia y se pega el nombre para evitar posibles errores al digitar.
                            <br><br>
                            <b>c.</b> Cuando es persona jurídica: la información se ingresa de acuerdo a la información del Rut y a la consulta que se realiza en la página <a href="/manualUsuariodian.gov.co">Dirección de Impuestos y Aduanas Nacionales de Colombia (dian.gov.co)</a>, del resultado de esta búsqueda se copia y se pega la razón social para evitar posibles errores al digitar.
                          </section>
                          <br>
                          <b>Segundo Nombre:</b>
                          <br><br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: la información se ingresa de acuerdo a la cédula de ciudadanía.
                            <br><br>
                            <b>b.</b> Cuando es persona natural con Rut: la información se ingresa de acuerdo al Rut y a la consulta que se realiza en la página <a href="/manualUsuariodian.gov.co">Dirección de Impuestos y Aduanas Nacionales de Colombia (dian.gov.co)</a>, del resultado de esta búsqueda se copia y se pega el segundo nombre para evitar posibles errores al digitar.
                            <br><br>
                            <b>c.</b> Cuando es persona jurídica: este campo se inhabilita.
                          </section>
                          <br>
                          <b>Primer Apellido:</b>
                          <br><br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: la información se ingresa de acuerdo a la cédula de ciudadanía.
                            <br><br>
                            <b>b.</b> Cuando es persona natural con Rut: la información se ingresa de acuerdo al Rut y a la consulta que se realiza en la página <a href="/manualUsuariodian.gov.co">Dirección de Impuestos y Aduanas Nacionales de Colombia (dian.gov.co)</a>, del resultado de esta búsqueda se copia y se pega el primer apellido para evitar posibles errores al digitar.
                            <br><br>
                            <b>c.</b> Cuando es persona jurídica: este campo se inhabilita.
                          </section>
                          <br>
                          <b>Segundo Apellido</b>
                          <br><br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: la información se ingresa de acuerdo a la cédula de ciudadanía.
                            <br><br>
                            <b>b.</b> Cuando es persona natural con Rut: la información se ingresa de acuerdo al Rut y a la consulta que se realiza en la página <a href="/manualUsuariodian.gov.co">Dirección de Impuestos y Aduanas Nacionales de Colombia (dian.gov.co)</a>, del resultado de esta búsqueda se copia y se pega el segundo apellido para evitar posibles errores al digitar.
                            <br><br>
                            <b>c.</b> Cuando es persona jurídica: este campo se inhabilita.
                          </section>
                        
                      </div>
                      <div class="col-6 mt-5">
                        <p class="text-justify">
                          <b>Teléfono 1:</b> Se ingresa el teléfono que el cliente informe o que registre en el Rut.
                          <br><br>
                          <b>Teléfono 2:</b> se ingresa el teléfono que el cliente informe.
                          <br><br>
                          <b>Teléfono celular:</b> se ingresa el teléfono celular que el cliente informe.
                          <br><br>
                          <b>Departamento:</b>
                          <br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: se ingresa el departamento que el cliente informe.
                            <br><br>
                            <b>b.</b> Cuando es persona jurídica o natural con Rut: se ingresa el departamento que registra en el Rut en el campo departamento (campo 39 del Rut).
                          </section>
                          <br>
                          <b>Municipio MM:</b>
                          <br><br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: se ingresa la ciudad o el municipio que el cliente informe.
                            <br><br>
                            <b>b.</b> Cuando es persona jurídica o natural con Rut: se ingresa la ciudad o el municipio que registra en el campo ciudad/municipio (campo 40 del Rut).
                          </section>
                          <br>
                          <b>Dirección:</b>
                          <br><br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: se ingresa la dirección (nomenclatura) que el cliente informe.
                            <br><br>
                            <b>b.</b> Cuando es persona jurídica o natural con Rut: se ingresa la dirección (nomenclatura) que registra en el campo dirección principal (campo 41 del Rut).
                          </section>
                          <br>
                          <b>Correo de Factura Electrónica:</b>
                          <br><br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: se ingresar el correo que el cliente informe.
                            <br><br>
                            <b>b.</b> Cuando es persona natural con Rut: se ingresa el correo que tiene registrado en la Dian para recepción de facturación electrónica, si no está obligado a factura electrónicamente se registra el correo que se visualiza en el campo correo electrónico (campo 42 del Rut).
                            <br><br>
                            <b>c.</b> Cuando es persona jurídica: se ingresa el correo registrado en la Dian para recepción de facturación electrónica, o el correo que se visualiza en el campo correo electrónico (campo 42 del Rut) si el cliente informa que es el mismo.
                          </section>
                          <br>
                          <b>Correo de contacto:</b> Cuando se ingresa el correo de factura electrónica, este campo se diligencia automáticamente y se puede modificar si así lo requiere el usuario que está ingresando la información, es decir, si se requiere conservar otros correos adicionales del cliente.
                          <br><br>
                          <b>Industria:</b>
                          <br><br>
                          <section>
                            <b>a.</b> Cuando es persona natural sin Rut: el sistema ingresa automáticamente la opción (otros).
                            <br><br>
                            <b>b.</b> Cuando es persona natural con Rut: se selecciona la opción que el cliente informe, si no informa ninguna se selecciona (otros).
                            <br><br>
                            <b>c.</b> Cuando es persona jurídica: se selecciona la opción que el cliente informe, si no informa ninguna se selecciona (otros).
                          </section>
                          <br>
                          <b>Responsable:</b> Este campo trae automáticamente al prefijo del punto de venta del cual se está realizando el registro del cliente.
                          <br><br>
                          <b>Comentario:</b> Este campo está habilitado para ingresar opcionalmente una descripción o novedad del cliente.
                       
                        <img src="../../../assets/img/industria.png" width="80%" alt="Inicio de sesion" class="mt-5">
                      </div>
                      <div class="row" style="margin-top: 100px;">
                        <div class="col-6">
                          <h3 class="text-center mt-2" id="tributaria">Tributaria:</h3>
                          <p class="text-justify mt-4">
                            
                            <b>Régimen Tributario:</b>
                            <br>
                            <section>
                              <b>a.</b> Cuando se selecciona <b>que no tiene Rut,</b> automáticamente el sistema registra que es persona natural y el campo de <b>régimen tributario</b> lo ingresa como <b>Régimen Simplificado.</b> sin opción se modificar.
                              <br><br>
                              <b>b.</b> Cuando se selecciona que el cliente tiene Rut y es persona natural: este campo se diligencia de acuerdo a la información que registra en el ítem de responsabilidades, calidades y atributos del Rut, teniendo en cuenta lo siguiente:
                              <br><br>
                              <div id="sangria">
                                Si el Rut del cliente registra con el código 49-No Responsable de IVA en este campo se selecciona: <b>Régimen simplificado,</b>
                                <br><br>
                                Si el Rut del cliente registra con el código 48-Impuestos Sobres las Ventas-IVA en este campo se selecciona: <b>Régimen Común.</b>
                              </div>
                              <br>
                              <b>c.</b> Cuando se selecciona que el cliente tiene Rut y es persona jurídica: este campo trae automáticamente <b>(Régimen Común.)</b>.
                            </section>
                            <br>
                            <b>Régimen Fiscal:</b>
                            <br><br>
                            <section>
                              <b>a.</b> Cuando es persona natural sin Rut: este campo trae automáticamente <b>49-No Responsable de IVA</b> y no se modifica.
                              <br><br>
                              <b>b.</b> Cuando es persona natural con Rut: este campo se diligencia de acuerdo a la información ingresada en el régimen tributario, por lo tanto, trae automáticamente la información.
                              <br><br>
                              <b>c.</b> Cuando es persona jurídica: este campo trae automáticamente la información <b>48-Impuestos Sobres las Ventas-IVA.</b>
                            </section>
                            <br>
                            <b>Responsabilidad fiscal:</b>
                            <br><br>
                            <section>
                              <b>a.</b> Cuando es persona natural sin Rut: este campo ingresa automáticamente <b>R-99-PN No aplica - Otros (V1.8)</b> y no se modifica.
                              <br><br>
                              <b>b.</b> Cuando es persona natural con Rut: este campo se diligencia teniendo en cuenta la siguiente información:
                              <br><br>
                              <div id="sangria">
                                <b>i.</b> Si el régimen tributario es <b>régimen simplificado</b>, este campo el sistema lo diligencia automáticamente seleccionando <b>R-99-PN No aplica - Otros (V1.8)</b>
                                <br><br>
                                <b>ii.</b> Si el régimen tributario es <b>régimen común,</b> este campo se diligencia teniendo en cuenta la información que registra en el ítem de responsabilidades, calidades y atributos del Rut y se selecciona (la responsabilidad principal) según el orden alfanumérico del código.
                                <br><br>
                                <div id="sangria2">
                                  
                                  ¬ O-13 Gran contribuyente (V1.8)
                                  <br>
                                  ¬ O-15 Autor retenedor (V1.8)
                                  <br>
                                  ¬ O-23 Agente de retención IVA (V1.8)
                                  <br>
                                  ¬ O-47 Régimen simple de tributación (V1.8)
                                  <br>
                                  ¬ <b>R-99-PN No aplica - Otros (V1.8):</b> Esta opción se selecciona en caso de no visualizarse ninguna de las anteriores responsabilidades en el Rut.
                                  
                                </div>
                              </div>
                              <br>
                              <b>c.</b> Cuando es persona jurídica: este campo se diligencia de acuerdo a la información que registra en el ítem de responsabilidades, calidades y atributos del Rut y se selecciona (la responsabilidad principal) según el orden alfanumérico del código.
                              <br>
                              <div id="sangria">
                                  ¬ O-13 Gran contribuyente (V1.8)
                                  <br>
                                  ¬ O-15 Autor retenedor (V1.8)
                                  <br>
                                  ¬ O-23 Agente de retención IVA (V1.8)
                                  <br>
                                  ¬ O-47 Régimen simple de tributación (V1.8)
                                  <br>
                                  ¬ <b>R-99-PN No aplica - Otros (V1.8):</b> Esta opción se selecciona en caso de no visualizarse ninguna de las anteriores responsabilidades en el Rut.
                              </div>
                            </section>
                            
                    
                        </div>
                        <div class="col-6 mt-5">
                          <p class="text-justify">
                            <b>Actividad Económica:</b>
                            <br>
                            <section>
                              <b>a.</b> Cuando es persona natural sin Rut: se selecciona 0081 - Personas Naturales sin Actividad Económica.
                              <br><br>
                              <b>b.</b> Cuando es persona natural con Rut: el sistema ingresa automáticamente sin Asignar, y se debe modificar por el <b>código que se visualiza en el Rut</b> en el campo: 46 código.
                              <br><br>
                              <b>c.</b> Cuando es persona jurídica: en este campo se selecciona el <b>código que se visualiza en el Rut</b> en el campo: 46 código.
                            </section>
                            <br>
                            <b>Nacionalidad:</b>
                            <br><br>
                            <section>
                              <b>a.</b> Cuando es persona natural sin Rut: el sistema selecciona en este campo la palabra Nacional automáticamente, solo se modifica por la palabra Extranjero si el registro se está realizando con alguno de los siguientes documentos:
                              <br>
                              <div id="sangria">
                                ¬ Cédula de extranjería
                                <br>
                                ¬ Pasaporte
                                <br>
                                ¬ Permiso Especial de Permanencia
                                <br>
                                ¬ Tarjeta de extranjería
                                <br>
                                ¬ Tipo de documento extranjero
                              </div>
                              <br>
                              <b>b.</b> Cuando es persona natural con Rut: el sistema selecciona en este campo la palabra <b>Nacional</b> automáticamente y no se modifica.
                              <br><br>
                              <b>c.</b> Cuando es persona jurídica: el sistema selecciona en este campo la palabra Nacional automáticamente y no se modifica.
                            </section>
                            <br>
                            <b>Tipo de Extranjero:</b> Cuando en el campo de Nacionalidad se seleccionó:
                            <br><br>
                            <section>
                              <b>a.</b> Nacional: el sistema en <b>tipo de extranjero</b> trae automáticamente la palabra no aplica y esta no se modifica.
                              <br>
                              <b>b.</b> Extranjero: el sistema en <b>tipo de extranjero</b>o trae automáticamente la palabra con clave y esta no se modifica.
                            </section>
                            <br>
                            <b>Residente:</b> Este campo siempre debe ir seleccionado.
                            <br><br>
                            <b>Autor retenedor:</b>
                            <br>
                            <section>
                              <b>a.</b> Cuando es persona natural con Rut: el sistema selecciona en este campo la palabra <b>Nacional</b> automáticamente y no se modifica.
                              <br><br>
                              <b>b.</b> Cuando el cliente tiene Rut ya sea persona natural o jurídica, este campo se diligencia si en el listado de responsabilidades, calidades y atributos del Rut se visualiza el código alfanumérico (O-15 Autor retenedor (V1.8).
                            </section>
                            <br><br>
                            <b>Gran contribuyente:</b>
                            <br><br>
                            <section>
                              <b>a.</b> Cuando es persona natural sin Rut: este campo no se selecciona.
                              <br><br>
                              <b>b.</b> Cuando el cliente tiene Rut ya sea persona natural o jurídica, este campo se diligencia si en el listado de responsabilidades, calidades y atributos del Rut se visualiza el código alfanumérico O-13 Gran contribuyente (V1.8).
                            </section>
                            
                         
                        </div>
                      </div>
                      <div class="row" style="margin-top: 100px;">
                        <div class="col-6">
                          <h3 class="text-center mt-2" id="contacto">Contactos:</h3>
                          <p class="text-justify mt-4">
                            Estos campos se diligencian automáticamente con la información que se ingresó en los campos de la pestaña general y se puede añadir o modificar la información si así lo requieren, luego se da clic en icono (guardar) para que estos datos se ingresen a la lista de contactos, en esta pestaña tiene la opción de añadir más personas de contacto dando clic en el icono (nuevo) para ingresar la información ya sea el contacto de la persona de pedidos, comercial o tesorería, posteriormente se da clic en guardar.
                          </p>
                        </div>
                        <div class="col-6 text-center">
                          <img src="../../../assets/img/contactos.png" width="80%" alt="Contactos" class="mt-5">
                        </div>
                      </div>
                      <div class="row" style="margin-top: 100px;">
                        <div class="col-6">
                          <h3 class="text-center mt-2" id="direcciones">Direcciones:</h3>
                          <p class="text-justify mt-4">
                            <b>Dirección:</b> este campo trae automáticamente la información que se ingresó en la pestaña general en el campo dirección y no se modifica.
                            <br><br>
                            <b>Nombre sucursal:</b> en este campo no se requiere ingresar información
                            <br><br>
                            <b>Departamento:</b> este campo trae automáticamente la información que se ingresó en la pestaña general en el campo departamento y no se modifica.
                            <br><br>
                            <b>Municipio:</b> este campo trae automáticamente la información del municipio que se seleccionó en la pestaña general y no se modifica.
                            <br><br>
                            <b>Barrio:</b> en este campo se ingresa el lugar de referencia (ya sea el nombre del barrio o de la sucursal)
                            <br><br>
                            <b>Teléfono:</b> este campo trae automáticamente la información del teléfono que se ingresó en la pestaña general.
                            <br><br>
                            <b>País:</b> en este campo el sistema siempre ingresa Colombia automáticamente y no se modifica.
                            <br><br>
                            Una vez se verifica que la información de estos campos este completa, se selecciona Destino y Destinatario factura para que la información quede registrada en los dos campos, luego para finalizar se da clic en el icono (guardar).
                            <br><br>
                            <b>Nota:</b> Si se requiere ingresar más direcciones para la recepción de las facturas, se diligencian los campos nuevamente con la información reportada por el cliente, luego se selecciona destinatario factura y se guarda la información. 
                          </p>
                        </div>
                        <div class="col-6 mt-5">
                          <h3 class="text-center mt-2">Formas de Pago:</h3>
                          <p class="text-justify">
                            <b>Medios de pago:</b> este campo trae automáticamente la información seleccionando acuerdo mutuo y no se modifica.
                            <br><br>
                            <b>Condición de pago:</b> este campo se diligencia automáticamente seleccionando contado y no se modifica, si el cliente es crédito el campo es parametrizado por el área de cartera.
                            <br><br>
                            <b>Lista de precios:</b> eeste campo no se diligencia.
                            <br><br>
                            <b>% Descuento total:</b> este campo no se diligencia.
                            <br><br>
                            <b>Límite de crédito:</b> este campo se diligencia automáticamente seleccionando 0 y no se modifica, si el cliente es crédito el campo es parametrizado por el área de cartera.
                            <br><br>
                            <b>Límite de deuda:</b> eeste campo se diligencia automáticamente seleccionando 0 y no se modifica, si el cliente es crédito el campo es parametrizado por el área de cartera.
                            <br><br>
                            <b>Código retención:</b> este campo no se diligencia.
                            <br><br>
                            <b>Código rete Ica:</b> este campo no se diligencia.
                            <br><br>
                          </p>
                        </div>
                    </div>

                  
                </div>
              </div><!--Fin Div de Informacion de Socios de Negocios -->

               <!--Navegación componentes-->
              <div class="col-2">
                <h6>Socios de Negocios</h6>
                <nav class=" nav flex-column font-weight-light  my-1 py-0   ">
                              
                  <p><small><a href="/manualUsuario#Socio" class="nav-link  active  mx-1 py-0">Registros nuevos</a></small></p>
                  
                  <p><small><a href="/manualUsuario#general" class="nav-link  mx-1 py-0">General</a></small></p>
                  
                  <p><small><a href="/manualUsuario#tributaria" class="nav-link  mx-1 py-0">Tributaria</a></small></p>
                  
                  <p><small><a href="/manualUsuario#contacto" class="nav-link  mx-1 py-0">Contactos</a></small></p>
                  
                  <p><small><a href="/manualUsuario#direcciones" class="nav-link  mx-1 py-0">Direcciones y Formas de pago</a></small></p>
                  
                </nav>
              </div> <!--Fin Navegación componentes-->
          </div>
                
        </div>

        <!--Tab de Solicitud de Compras-->
        <div class="tab-pane fade" id="v-pills-SolicitudC" role="tabpanel" aria-labelledby="v-pills-SolicitudC-tab">
            <div class="row">

              <!-- Div de Informacion de Solicitud de Compras -->
              <div class="col-10">
                <!-- Tab de Solicitudes de Compra -->
                <h2 class="text-center">Solicitudes de compra</h2>
                <p class="text-justify">
                  El módulo solicitud de compras les permite a los puntos de venta hacer sus pedidos de inventario
                </p>

                <div class="row mt-5">
                  <div class="col-6 text-justify">
                    <h2 class="text-justify mt-3">Descripción del Módulo</h2>
                    <p class="text-justify mt-4">
                      <b>1.</b>	Al abrir el módulo de Solicitud de compras se visualiza en el lado izquierdo del módulo un listado con cada una de las solicitudes anteriormente creadas, mostrando:
                      <br>
                      <section>
                        <b>a.</b> Consecutivo
                        <br><br>
                        <b>b.</b> Estado: Integrada, Activo y Borrador
                        <br><br>
                        <b>c.</b> Fecha de Creación
                        <br><br>
                        <b>d.</b> Botón de Duplicado.
                        <br><br>
                      </section>
                      <br>
                      <b>2.</b>	En la parte inferior del lado izquierdo se encuentran los botones de <b>Nuevo Documento, Editar Documento, Borrar Documento, Ver Entrada Mercancía y Salir del módulo.</b>
                      <br><br>
                      <b>3.</b> En la parte superior derecha podemos encontrar los campos de <b>No. Documento Estado Fecha de Creación, Fecha de Activación y Fecha limite requerida</b>, es importante resaltar que el único de estos campos modificable es <b>Fecha limite requerida.</b>
                   
                  </div>
                  <div class="col-6 mt-3">
                    <img src="../../../assets/img/sc-001.png" width="100%" alt="Solicitudes de compra 1">
                  </div>
                </div>

                <div class="row mt-5">
                  <div class="col-6 text-justify">
                    <h2 class="text-justify mt-3" id="CrearSolicitud">Creación de un Nuevo Documento</h2>
                    <p class="text-justify mt-4">
                      <b>1.</b> Solo se podrán crear nuevos documentos si no hay ninguno con su estado en <b>“Borrador”</b>.
                      <br><br>
                      <b>2.</b>	Al momento de presionar el botón de nuevo documento en la parte superior derecha del módulo se habilita <b>Fecha limite requerida</b> esta debe ser especificada antes de agregar el primer artículo.
                      <br><br>
                      <b>3.</b> En la sección de Agregar artículos se mostrará en blanco y se habilitaran los campos de <b>Código, Cantidad y Comentarios</b> además de los botones de <b>Agregar artículo y Guardar Borrador.</b>
                      <br><br>
                      <b>4.</b> Se debe ingresar el <b>código del Articulo</b> a ingresar, para esto tendremos dos formas de hacerlo
                      <br>
                      <section>
                        <br>
                        <b>a.</b> Por <b>búsqueda del artículo</b>: Al seleccionar el campo y presionar el botón Enter a continuación, se mostrara una ventana emergente en la que se visualizaran 3 columnas (<b>código, nombre y codiva</b>) por las cuales podremos buscar nuestro <b>código del  artículo</b>.
                        <br><br>
                        <b>b.</b> Ingresar directamente el código del producto en caso de tener conocimiento de este.
                      </section>
                      <br><br>
                      <b>5.</b> Seleccionaremos el Articulo que requerimos y presionaremos el botón de Seleccionar 
                      <br><br>
                      <b>6.</b>	Ingresamos la cantidad requerida y presionamos el botón de agregar articulo
                      <br><br>
                      <b>7.</b> En pantalla se mostrará un cuadro emergente de confirmación 
                      <br><br>
                      <b>8.</b>	Al insertar el primer artículo se guardará el documento y tendrá que ser editado para Insertar más artículos
                   
                    
                  </div>
                  <div class="col-6 mt-3">
                    <img src="../../../assets/img/sc-002.png" width="80%" alt="Solicitudes de compra 2">
                    <img src="../../../assets/img/sc-003.png" width="60%" alt="Solicitudes de compra 3">
                    <img src="../../../assets/img/sc-004.png" width="80%" alt="Solicitudes de compra 4">
                  </div>
                </div>

                <div class="row mt-5">
                  
                  <div class="col-6 mt-3">
                    <img src="../../../assets/img/sc-005.png" width="80%" alt="Solicitudes de compra 5">
                    <img src="../../../assets/img/sc-006.png" width="60%" alt="Solicitudes de compra 6">
                    <img src="../../../assets/img/sc-007.png" width="80%" alt="Solicitudes de compra 7">
                    <img src="../../../assets/img/sc-008.png" width="60%" alt="Solicitudes de compra 8">
                    <img src="../../../assets/img/sc-009.png" width="80%" alt="Solicitudes de compra 9">
                  </div>
                
                  <div class="col-6 text-justify">
                    <h2 class="text-justify mt-3" id="EditarSolicitud">Edición de Solicitudes de Compra</h2>
                    <p class="text-justify mt-4">
                      <b>1.</b>	Seleccionamos la solicitud de compra ubicada al lado izquierdo del módulo y presionamos el botón <b>Editar Documento</b>.
                      <br><br>
                      <b>2.</b>	Al momento de presionar el botón de nuevo documento en la parte superior derecha del módulo se habilita <b>Fecha limite requerida</b>.
                      <br><br>
                      <b>3.</b> En la sección de Agregar artículos se mostrará en blanco y se habilitaran los campos de Código, Cantidad y Comentarios además de los botones de <b>Agregar artículo y Guardar Borrador</b>.
                      <br>Se debe ingresar el código del Articulo a ingresar, para esto tendremos dos formas de hacerlo
                      <br>
                      <section>
                        <b>a.</b>	Por <b>búsqueda del artículo</b>: Al seleccionar el campo y presionar el botón Enter, a continuación se mostrara una ventana emergente en la que se visualizaran 3 columnas (código, nombre y codiva ) por las cuales podremos buscar nuestro <b>código del artículo</b>.
                        <br><br>
                        <b>b.</b>	b.	Ingresar directamente el código del producto en caso de tener conocimiento de este.
                      </section>
                      <br><br>
                      <b>4.</b> Seleccionaremos el Artículo que requerimos y presionaremos el botón de Seleccionar
                      <br><br>
                      <b>5.</b> Ingresamos la cantidad requerida y presionamos el botón de agregar artículo
                      <br><br>
                      <b>6.</b>	En pantalla se mostrará un cuadro emergente de confirmación
                      <br><br>
                      <b>7.</b> En cualquier momento podremos guardar el documento en borrador y seguir en otro momento 
                      <br><br>
                      <b>8.</b>	En caso de equivocaciones al agregar un producto podremos tanto editar sus cantidades como borrarlo por completo
                      <br><br>
                      <b>9.</b>	Al momento de terminar presionáremos el botón de integrar documento
                    
                  </div>

                  <div class="row mt-5">
                    <div class="col-6 text-justify">
                      <h2 class="text-justify mt-3">Nota:</h2>
                      <p class="text-justify mt-4">
                        <b>1.</b> Solo se podrán crear nuevos documentos si no hay ninguno con su estado en <b>“Borrador”</b>, es decir solo se podrán duplicar documentos con estado <b>“Integrado”</b> o <b>“Activo”</b>.
                        <br><br>
                        <b>2.</b>	El documento se duplicará con su estado en “Borrador” y este podrá ser editado para posteriormente ser activado
                        <br><br>
                      
                    </div>
                    <div class="col-6 mt-3">
                      <img src="../../../assets/img/sc-010.png" width="80%" alt="Solicitudes de compra 10">
                    </div>
                  </div>

                  <div class="row mt-5">
                    <div class="col-6 text-justify">
                      <h2 class="text-justify mt-3" id="BorrarSolicitud">Borrar del Documento de Solicitudes de Compra</h2>
                      <p class="text-justify mt-4">
                        <b>1.</b> Solo se podrán Borrar documentos con su estado en <b>“Borrador”</b>, es decir no se podrán eliminar documento con estado <b>“Integrado”</b> o <b>“Activo”</b>.
                      
                    </div>
                    <div class="col-6 mt-3">
                      <img src="../../../assets/img/sc-011.png" width="80%" alt="Solicitudes de compra 11">
                      <img src="../../../assets/img/sc-012.png" width="80%" alt="Solicitudes de compra 12">
                    </div>
                  </div>

                </div>
              </div><!-- Fin Div de Informacion de Solicitud de Compras -->

              <!--Navegación componentes-->
              <div class="col-2">
                <h6>Solicitudes de Compra</h6>
                <nav class=" nav    flex-column font-weight-light  my-1 py-0   ">
                  <p><small><a href="/manualUsuario#CrearSolicitud" class="nav-link  mx-1 py-0">Creación de un Nuevo Documento</a></small></p>
                  
                  <p><small><a href="/manualUsuario#EditarSolicitud" class="nav-link  mx-1 py-0">Edición de Solicitudes de Compra</a></small></p>
                  
                  <p><small><a href="/manualUsuario#BorrarSolicitud" class="nav-link  mx-1 py-0">Borrar del Documento de Solicitudes de Compra</a></small></p>                 
                </nav>
              </div> <!--Fin Navegación componentes-->

            </div>
                
        </div>

        <!--Tab de Ordenes de Compra-->
        <div class="tab-pane fade" id="v-pills-OrdenesC" role="tabpanel" aria-labelledby="v-pills-OrdenesC-tab">
                <h2 class="text-center">Ordenes de compra</h2>
        </div>

        <!--Tab de Entradas de Mercancia-->
        <div class="tab-pane fade" id="v-pills-EntradaM" role="tabpanel" aria-labelledby="v-pills-EntradaM-tab">
                <h2 class="text-center">Entrada de mercancia</h2>
        </div>

      </div><!--Fin tab content-->

    </div><!--Fin contenedor medio-->



  </div><!--Fin Gran contenedor-->